APP_NAME=
APP_VERSION=
NODE_ENV=
PORT=

# DATABASE Configuration
DATABASE_URL=
DATABASE_AUTH_TOKEN=

# JWT Configuration
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=

# Initial Administrator Configuration
INITIAL_ADMIN_USERNAME=
INITIAL_ADMIN_PASSWORD=
INITIAL_ADMIN_DISPLAY_NAME=